{% extends 'events/admin_base.html' %}
{% load staticfiles %}
{% block content %}

    <style>
        body {
            background-color: beige;
        }
        table{
            background-color: azure;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Douglas County Emergency Services!.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Event Information</h2>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Event Type</th>
                <th>Event Description</th>

                <th colspan="2">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for event in event %}
                <tr>
                    <td>{{ event.event_type }}</td>
                    <td>{{ event.event_description }}</td>


                    <td><a href="{% url 'events:event_edit' pk=event.pk %}" class="btn btn-primary">Edit</a></td>
                    <td><a href="{% url 'events:event_delete' pk=event.pk %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-primary">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
