{% extends 'events/nurse_base.html' %}
{% load staticfiles %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="page-container">

            <h2 class="top-menu">Welcome {{ user.username }},</h2>
            <p>Please choose from below options.</p>
        </div>
    {% endif %}

    <div class="content container">
        <div class="row">
            <div class="row">
                <a href="{% url 'patients:patient_new' %}" class="row">
                    <span class="btn btn-primary">Add Patient</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
