{% extends 'beds/admin_base.html' %}
{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-container">

            <h2 class="top-menu">Manage Users</h2>
            <p>Please choose from below user options.</p>


            <p><a class="btn btn-default" target = '_self' href="{% url 'beds:users_list' %}" role="button">All Users &raquo;</a></p>
            <p><a class="btn btn-default" href="{% url 'beds:nurse_list' %}" role="button">Nurse &raquo;</a></p>

        </div>
    {% endif %}


{% endblock %}
